#padding {
	margin: 10px;
	padding-left: 0px;
	padding-bottom: 10px;
	}

#square {
	margin: 5px;
	}

#contact {
	color: white;
}

.rcorners {
    border-radius: 20px;
	}

body {
	font-family: 'Arimo', sans-serif;
 	padding: 20px;
	}

img {
	padding: 5px;
	}

h1	{
	font-size: 50px;
	font-family: 'Lato', sans-serif;
	color: grey;
	}

h2	{
	color: #6BBAA7;
	}

h3	{
	color: #6C648B;
	}

a:link, a:visited {
    background-color: #6BBAA7;
    color: white;
    padding: 10px 20px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
	}

a:hover, a:active {
    background-color: #6C648B;
	}